# we force these to be reinstalled each time in CI since they can change
# a lot and usually we need master
git+https://github.com/esheldon/ngmix.git@master
git+https://github.com/esheldon/meds.git@master
